/*
Name: basic-email-test
Description: Email Confirmation Template
Authors: Micaela Linda Villani 
Tags: Template Boilerplate HMTL CSS PRESTASHOP
*/

/* Fonts
---headings
font-family: 'Brandon Regular', sans-serif;
font-family: 'Brandon Medium', sans-serif;
--paragraphs
font-family: 'Brandon Light', sans-serif;
*/

/* FONTS  */
@font-face {
  font-family: Brandon Medium;
  src: url('../fonts/brandon-medium.otf');
}

@font-face {
  font-family: Brandon Light;
  src: url('../fonts/brandon-light.otf');
}

@font-face {
  font-family: Brandon Regular;
  src: url('../fonts/brandon-reg.otf');
}


/* PAGE STYLES */
*:before *:after {
  box-sizing: border-box;
}

html, body { 
  padding: 0;
  margin: 0; 
  color: #1A1919;
  font-size: 18px;
}

/* WHOLE ORDER CONTAINER */
.main-container {
  margin: 0;
  text-align: center;
  background-color: #EFEFEE;
  padding: 0.1em 0.1em;
}

/* LOGO  */
.logo {
  font-family: 'Brandon Regular', sans-serif;
  letter-spacing: 0.17em;
  color: #1A1919;
}

.light-logo-letter {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 100;
}

/* INSIDE CONTAINER */
.order-container {
  background-color: white;
  padding: 1em;
  margin: 1em;
  height: 200vh;
}

p {
  font-family: 'Brandon Light', sans-serif;
}

td,th {
  font-size: 1em;
  font-family: 'Brandon Light', sans-serif;
  letter-spacing: 0.05em;
}

.second-heading {
  font-family: 'Brandon Medium', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.details {
  margin: -1em 3em 0 3em;
  padding-bottom: 1em;
}

/* TABLE  */
/* RECAP ORDER TABLE */
.order-recap {
  border-top: 0.01em solid #1B1A1A;
  font-weight: 700; 
  margin: 0em 0em 1em 3em; 
  padding: 1em 1em;
  text-align: left;
  text-transform: uppercase;
  width: 91%;
}

.order-recap-row {
  margin: 1em;
}

.table-h {
  padding: 0.2em;
  font-family: 'Brandon Medium', sans-serif;
  font-weight: 700;  
}

.table-data {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 200;
  text-align: left;
  width: 32%;
}

/* ORDER DETAILS TABLE */
table.order-details {
  border-collapse: collapse;
  margin: -1em 3em 0 3em;
  padding: 0em 1em;
  text-align: left;
  text-transform: initial; 
  height: 240px;
  width: 91%;
}

.details-h {
  border-top: 0.01em solid #1B1A1A;
  border-bottom: 0.01em solid #1B1A1A;
  font-family: 'Brandon Light', sans-serif;
  font-weight: 200;
  padding-left: 1em;
 }

 th:nth-child(2){
  padding-left: 1.9em;
 }

 .quantities {
   padding-right: 1em;
 }

tr.first-item-row {
  border-bottom: 0.01em solid #C3C4C3;
  height: 90px;
}

 td.sold-item-values {
  padding-left: 1.3em;
 }

 td.sold-item-quantity {
  padding-left: 3em;
 }

 td.sold-item-price {
  padding-left: 2em;
 }
 
.xs-img {
  height: 4em;
}

.second-img{
  margin-top: 1em;
  margin-left: 0.4em;
}

.product-number {
  color: #8A8B8A;
  font-weight: 100;
}

tr.second-item-row {
  border-bottom: 0.01em solid #C3C4C3;
  height: 90px;
}

.payment-recap {
  float: left;
  margin-top: 0.8em;
}

.col-1 {
  text-align: left;
  margin-left: 65%;
  font-size: 1em;
}

.col-2 {
  text-align: right;
  margin-left: 10%;
}

.payment-p {
  margin: 0.5em 0;
}

.total {
  font-family: 'Brandon Medium', sans-serif;
}