/*
Name: basic-email-test
Description: Email Confirmation Template
Authors: Micaela Linda Villani 
Tags: Template Boilerplate HMTL CSS PRESTASHOP
*/

/* Fonts
---headings
font-family: 'Brandon Regular', sans-serif;
font-family: 'Brandon Medium', sans-serif;
--paragraphs
font-family: 'Brandon Light', sans-serif;
*/

/* FONTS  */
@font-face {
  font-family: Brandon Medium;
  src: url('../fonts/brandon-medium.otf');
}

@font-face {
  font-family: Brandon Light;
  src: url('../fonts/brandon-light.otf');
}

@font-face {
  font-family: Brandon Regular;
  src: url('../fonts/brandon-reg.otf');
}

/* PAGE STYLES */
*:before *:after {
  box-sizing: border-box;
}

html, body { 
  padding: 0;
  margin: 0; 
  color: #1A1919;
  font-size: 18px;
  min-height: 866px;
  max-height: 866px;
  min-width: 938px;
  max-width: 938px;
}

/* WHOLE ORDER CONTAINER */
.main-container {
  margin: 0;
  text-align: center;
  background-color: #EFEFEE;
  padding: 0.1em 0.1em;
}

/* LOGO  */
.logo {
  font-family: 'Brandon Regular', sans-serif;
  letter-spacing: 0.17em;
  color: #1A1919;
}

.light-logo-letter {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 100;
}

/* INSIDE CONTAINER */
.order-container {
  background-color: white;
  padding: 1em 1em 0 1em;
  margin: 1em;
}

p {
  font-family: 'Brandon Light', sans-serif;
}

td,th {
  font-size: 1em;
  font-family: 'Brandon Light', sans-serif;
  letter-spacing: 0.05em;
}

.second-heading {
  font-family: 'Brandon Medium', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.details {
  margin: -1em 3em 0 3em;
  padding-bottom: 1em;
}

/* TABLE  */
/* RECAP ORDER TABLE */
.table-container {
  margin: 0em 2em 0 2em;
}

.order-recap {
  border-top: 0.01em solid #1B1A1A;
  font-weight: 700; 
  padding: 1em 1em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.order-recap-row {
  margin: 1em;
}

.table-h {
  padding: 0.2em;
  font-family: 'Brandon Medium', sans-serif;
  font-weight: 700;  
}

.table-data {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 200;
  text-align: left;
  width: 32%;
}

/* ORDER DETAILS TABLE */
table.order-details {
  border-collapse: collapse;
  padding: 0em 1em;
  text-align: left;
  text-transform: initial; 
  height: 240px;
  width: 100%;
}

.details-h {
  border-top: 0.01em solid #1B1A1A;
  border-bottom: 0.01em solid #1B1A1A;
  font-family: 'Brandon Light', sans-serif;
  font-weight: 200;
  padding-left: 0.8em;
 }

.details-h-one {
  padding-left: 1.5em;
}

 th:nth-child(2){
  padding-left: 1.9em;
 }

 .model {
   padding-left: 1.5em;
 }

 .quantities {
   padding-right: 1em;
 }

tr.first-item-row {
  border-bottom: 0.01em solid #C3C4C3;
  height: 90px;
}

 td.sold-item-values {
  padding-left: 1.3em;
 }

 td.sold-item-quantity {
  padding-left: 2.5em;
 }

 td.sold-item-price {
  padding-left: 2em;
 }
 
.xs-img {
  height: 4em;
}

.first-img {
  margin-right: 1em;
}

.second-img{
  margin-top: 1em;
}

.product-number {
  color: #8A8B8A;
  font-weight: 100;
}

tr.second-item-row {
  border-bottom: 0.01em solid #C3C4C3;
  height: 90px;
}

/* PRODUCT RECAP  */
.payment-container {
  margin: 0em 2em 0 2em;
  height: 10em;
}

.payment-recap {
  float: left;
  margin-top: 0.8em;
}

.col-1 {
  text-align: left;
  margin-left: 62%;
  font-size: 1em;
}

.col-2 {
  text-align: right;
  margin-left: 10%;
}

.payment-p {
  margin: 0.5em 0;
  letter-spacing: 0.08em;
}

.total {
  font-family: 'Brandon Medium', sans-serif;
}

/* DELIVERY ADDRESS + INVOICE DETAILS */
.delivery-container {
  margin: 0em 2em 0 2em;
  border-top: 0.01em solid #1B1A1A;
  border-bottom: 0.01em solid #1B1A1A;
  height: 13em;
}

.delivery-col-left {
  float: left;
  text-align: left;
  width: 43%;
  margin-left: 1em;
}

.delivery-heading {
  font-family: 'Brandon Medium', sans-serif;
  font-weight: 500;
}

.invoice-col-right {
  float: left;
  text-align: left;
  width: 43%;
  margin-left: 10%;
}

/* EXTRA ACTIONS */
.extra-actions-container {
  margin: 0em 2em 0em 2em;
  padding-bottom: 0.5em;
}

.order-state {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.4em 11em;
}

.download-order {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.4em 13.45em;
}

/* RECOMMENDATIONS */
.recommendations-container {
  margin: -1em 1em -1em 1em;
  padding: 0 1em;  
  background-color: #FBF9F9;
  height: 17em;
}

.recommendations-col {
  float: left;
  width: 33%;
  padding: 2em 0 ;
}

.recommendations-img {
  height: 8em;
}

.recommendations-h {
  font-family: 'Brandon Medium', sans-serif;
  font-weight: 500;
  margin-bottom: -1em;
}

/* GOODBYE IMAGE */
.goodbye-img-container {
  text-align:center;
}

.goodbye-img {
  margin: -0.1em 0;
  height: 70vh;
}

.goodbye-p {
  font-family: 'Brandon Light', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: white;
  position: relative;
  bottom: 17em;
  right: 2%;
  margin: auto;
}

/* SOCIAL LINKS */
.social-links-container {
  padding: 1em;
  margin-top: -2em;
}
.social-logo {
  height: 2em;
  padding: 1em;
}

a {
  text-decoration: none;
}